<div class="header">
  KitchenFest Bartender
</div>
<div class="container">
  <div class="main">
    <div class="domestic">
      <div class="label">
        <p>beer, wine, vodka, gin</p>
        <h3>$4.75 x {{ numberOfDomestic }}</h3>
      </div>
      <div class="buttons">
        <button class="btn-green" (click)="calculateTotal('domestic', 1)">+</button>
        <button class="btn-red" (click)="calculateTotal('domestic', -1)" [disabled]="numberOfDomestic < 1">-</button>
      </div>
    </div>
    <div class="import">
      <div class="label">
        <p>coolers, glen, fortress</p>
        <h3>$6.75 x {{ numberOfImport }}</h3>
      </div>
      <div class="buttons">
        <button class="btn-green" (click)="calculateTotal('import', 1)">+</button>
        <button class="btn-red" (click)="calculateTotal('import', -1)" [disabled]="numberOfImport < 1">-</button>
      </div>
    </div>
  </div>
  <div class="calc">
    <h1> Total: <span>{{ grandTotal | currency:'CAD':true }}</span></h1>
    <div> 
      <input type="tel" [ngModel]="commonBill" (ngModelChange)="setCommonBill($event)"> 
      -
      <input type="tel" [ngModel]="grandTotal" disabled>
    </div>
    <h2> Change: <span>{{ commonBillRemainder | currency:'CAD':true }}</span></h2>
  </div>
  <div class="footer">
    <button class="btn-red" (click)="clear()">Clear</button>
    <button class="btn-blue" (click)="clear()">Submit</button>
  </div>
</div>
