<div class="header">
  KitchenFest Bartender
</div>
<div class="container">
  <div class="main">
    <div class="domestic">
      <div class="label">
        <h3>Domestic </h3>
        <span>x{{ numberOfDomestic }}</span>
      </div>
      <div class="buttons">
        <button class="btn-blue" (click)="calculateTotal('domestic', 1)">+</button>
        <button class="btn-red" (click)="calculateTotal('domestic', -1)" [disabled]="numberOfDomestic < 1">-</button>
      </div>
    </div>
    <div class="import">
      <div class="label">
        <h3>Import</h3>
        <span>x{{ numberOfImport }}</span>
      </div>
      <div class="buttons">
        <button class="btn-blue" (click)="calculateTotal('import', 1)">+</button>
        <button class="btn-red" (click)="calculateTotal('import', -1)" [disabled]="numberOfImport < 1">-</button>
      </div>
    </div>
  </div>
  <div class="calc">
    <h4> Total: <span>{{ grandTotal | currency:'CAD':true }}</span></h4>
    <h4> 
      <input type="tel" [ngModel]="commonBill" (ngModelChange)="setCommonBill($event)"> 
      -
      <input type="tel" [ngModel]="grandTotal" disabled>
    </h4>
    <h4> Change: <span>{{ commonBillRemainder | currency:'CAD':true }}</span></h4>
  </div>
  <div class="footer">
    <button class="btn-red" (click)="clear()">Clear</button>
    <button class="btn-blue" (click)="clear()">Submit</button>
  </div>
</div>
