@import "../ibm-colors";
@import "../variables";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $navHeight;
  background: color("red", 50);
  font-weight: 600;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$navHeight});
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #aeaeae;
    border-radius: .5rem;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        margin: 0 .5rem;
      }

      .label {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        margin: .5rem 0;
      }
    }
  }

  .calc {
    width: 100%;
    margin: .5rem 0;
    border: 1px solid #aeaeae;
    border-radius: .5rem;

    h4 {
      text-align: center;

      span {
        color: color("green", 50);
      }

      &:nth-of-type(2) {
        display: flex;
        justify-content: center;
        text-align: center;

        input {
          width: 4rem;
          text-align: center;
          color: #000;
          border: none;
          font-size: 1.4rem;
        }
      }
    }
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px solid #aeaeae;
    border-radius: .5rem;

    button {
      width: 100%;
      max-width: 32rem;
      margin: 0 .35rem;
    }
  }
}
