<div class="container">
  <div class="header">
    <h2>Great Hall</h2>
  </div>
  <div class="main">
    <div class="domestic">
      <span>Domestic x{{ numberOfDomestic }}</span>
      <div class="buttons">
        <button class="btn-green" (click)="calculateTotal('domestic', 1)">+</button>
        <button class="btn-red" (click)="calculateTotal('domestic', -1)" [disabled]="numberOfDomestic < 1">-</button>
      </div>
    </div>
    <div class="import">
      <span>Import x{{ numberOfImport }}</span>
      <div class="buttons">
        <button class="btn-green" (click)="calculateTotal('import', 1)">+</button>
        <button class="btn-red" (click)="calculateTotal('import', -1)" [disabled]="numberOfImport < 1">-</button>
      </div>
    </div>
  </div>
  <div class="calc">
    <h4> Total: <span>{{ grandTotal | currency:'CAD':true }}</span></h4>
    <h4> ${{ commonBill }} - ${{ grandTotal }} = {{ commonBillRemainder | currency:'CAD':true  }} </h4>
  </div>
  <div class="footer">
    <button (click)="clear()">Clear</button>
  </div>
</div>
