.btn {
  height: 2.2rem;
  width: 2.2rem;
  border: none;
  font-size: 1.6rem;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
  cursor: pointer;

  &:hover {
    filter: brightness(95%);
  }

  &:disabled {
    cursor: unset;
  }
}

.btn-white {
  @extend .btn;

  color: color("cerulean", 50);
}

.btn-blue {
  @extend .btn;

  background-color: color("blue", 40);
  color: #fff;
}

.btn-green {
  @extend .btn;

  background-color: color("green", 40);
  color: #fff;
}

.btn-orange {
  @extend .btn;

  background-color: color("orange", 30);
  color: #fff;
}

.btn-red {
  @extend .btn;

  background-color: color("red", 40);
  color: #fff;
}
