@font-face {
  font-family: 'PlexLight';
  src: url("./assets/fonts/plex/IBMPlexSans-Light-V01.1.woff2") format("woff2"), url("./assets/fonts/plex/IBMPlexSans-Light-V01.1.woff") format("woff");
}

@font-face {
  font-family: 'PlexRegular';
  src: url("./assets/fonts/plex/IBMPlexSans-Regular-V01.1.woff2") format("woff2"), url("./assets/fonts/plex/IBMPlexSans-Regular-V01.1.woff") format("woff");
}

@font-face {
  font-family: 'PlexBold';
  src: url("./assets/fonts/plex/IBMPlexSans-Bold-V01.1.woff2") format("woff2"), url("./assets/fonts/plex/IBMPlexSans-Bold-V01.1.woff") format("woff");
}
