@import "font";
@import "ibm-colors";
@import "variables";
@import "buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'PlexLight';
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.bold {
  font-family: 'PlexBold';
}

.light {
  font-family: 'PlexLight';
}

.regular {
  font-family: 'PLexRegular';
}
