@import "font";
@import "ibm-colors";
@import "variables";
@import "buttons";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  color: #212121;
  font-family: 'PlexLight';
  font-size: 1.4rem;
}

h1 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
}

li {
  font-size: 1.4rem;
}
